In [7]:
import pandas as pd
import plotly.express as ply
import plotly
pd.set_option('display.max_columns', None)

In [2]:
import os
os.getcwd()
#os.chdir('/Users/deirdremeehan/Code/Scratch/data_enginering/gdp_and_life_expectancy')
os.path.exists('./data/gdp.csv')

True

# Exploratory Data Analysis - GDP Dataset

In [3]:
## Read in GDP Dataset - datacard [here](https://www.kaggle.com/datasets/tunguz/country-regional-and-world-gdp)
gdp = pd.read_csv('./data/gdp.csv')

print(gdp.head())

      Country CountryCode  Year       GDP_USD
0  Arab World         ARB  1968  2.576068e+10
1  Arab World         ARB  1969  2.843420e+10
2  Arab World         ARB  1970  3.138550e+10
3  Arab World         ARB  1971  3.642691e+10
4  Arab World         ARB  1972  4.331606e+10

In [4]:
print(f"Shape: {gdp.shape}")

print(f"First Year: {min(gdp.Year)}")
print(f"Last Year: {max(gdp.Year)}")
print(f"Countries: {gdp['Country'].unique()}")
print(f"Number of Countries: {len(gdp['Country'].unique())}")
print(f"Distribution per country: {gdp['Country'].value_counts()}")

Shape: (11507, 4)
First Year: 1960
Last Year: 2016
Countries: ['Arab World' 'Caribbean small states' 'Central Europe and the Baltics'
 'Early-demographic dividend' 'East Asia & Pacific'
 'East Asia & Pacific (excluding high income)'
 'East Asia & Pacific (IDA & IBRD countries)' 'Euro area'
 'Europe & Central Asia' 'Europe & Central Asia (excluding high income)'
 'Europe & Central Asia (IDA & IBRD countries)' 'European Union'
 'Fragile and conflict affected situations'
 'Heavily indebted poor countries (HIPC)' 'High income' 'IBRD only'
 'IDA & IBRD total' 'IDA blend' 'IDA only' 'IDA total'
 'Late-demographic dividend' 'Latin America & Caribbean'
 'Latin America & Caribbean (excluding high income)'
 'Latin America & the Caribbean (IDA & IBRD countries)'
 'Least developed countries: UN classification' 'Low & middle income'
 'Low income' 'Lower middle income' 'Middle East & North Africa'
 'Middle East & North Africa (excluding high income)'
 'Middle East & North Africa (IDA & IBRD countries)' 'Middle income'
 'North America' 'OECD members' 'Other small states'
 'Pacific island small states' 'Post-demographic dividend'
 'Pre-demographic dividend' 'Small states' 'South Asia'
 'South Asia (IDA & IBRD)' 'Sub-Saharan Africa'
 'Sub-Saharan Africa (excluding high income)'
 'Sub-Saharan Africa (IDA & IBRD countries)' 'Upper middle income' 'World'
 'Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas, The' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Cayman Islands' 'Central African Republic' 'Chad'
 'Channel Islands' 'Chile' 'China' 'Colombia' 'Comoros' 'Congo, Dem. Rep.'
 'Congo, Rep.' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus'
 'Czech Republic' 'Denmark' 'Djibouti' 'Dominica' 'Dominican Republic'
 'Ecuador' 'Egypt, Arab Rep.' 'El Salvador' 'Equatorial Guinea' 'Eritrea'
 'Estonia' 'Ethiopia' 'Faroe Islands' 'Fiji' 'Finland' 'France'
 'French Polynesia' 'Gabon' 'Gambia, The' 'Georgia' 'Germany' 'Ghana'
 'Greece' 'Greenland' 'Grenada' 'Guam' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong SAR, China'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran, Islamic Rep.' 'Iraq'
 'Ireland' 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan'
 'Kazakhstan' 'Kenya' 'Kiribati' 'Korea, Rep.' 'Kosovo' 'Kuwait'
 'Kyrgyz Republic' 'Lao PDR' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macao SAR, China'
 'Macedonia, FYR' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali'
 'Malta' 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia, Fed. Sts.' 'Moldova' 'Monaco' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'Northern Mariana Islands' 'Norway' 'Oman' 'Pakistan' 'Palau' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Romania' 'Russian Federation' 'Rwanda' 'Samoa'
 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovak Republic' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'South Sudan' 'Spain'
 'Sri Lanka' 'St. Kitts and Nevis' 'St. Lucia'
 'St. Vincent and the Grenadines' 'Sudan' 'Suriname' 'Swaziland' 'Sweden'
 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Tanzania' 'Thailand'
 'Timor-Leste' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turkmenistan' 'Tuvalu' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom' 'United States' 'Uruguay' 'Uzbekistan' 'Vanuatu'
 'Venezuela, RB' 'Vietnam' 'Virgin Islands (U.S.)' 'West Bank and Gaza'
 'Yemen, Rep.' 'Zambia' 'Zimbabwe']
Number of Countries: 256
Distribution per country: Country
Hong Kong SAR, China      57
Jamaica                   57
Honduras                  57
Caribbean small states    57
Iceland                   57
                          ..
Channel Islands           10
Nauru                     10
South Sudan                8
Somalia                    4
Cayman Islands             2
Name: count, Length: 256, dtype: int64

In [20]:
fig = ply.scatter(data_frame= gdp,
           x= "Year",
           y="GDP_USD",
           color="Country", 
           hover_name="Country",
           log_y=False)
plotly.offline.plot(fig, filename='gdp_eda.html')

'gdp_eda.html'

# Exploratory Data Analysis - Life Expectancy Dataset

In [16]:
life_exp = pd.read_csv('./data/life_expectancy.csv')

life_exp.head()

,Country,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,Total expenditure,GDP,BMI,thinness 1-19 years,Alcohol,Schooling,LifeExpectancy
0,Afghanistan,2015,Developing,33736494.0,65.0,1154,6.0,65.0,0.1,62,83,8.16,584.259210,19.1,17.2,0.01,10.1,65.0
1,Afghanistan,2014,Developing,327582.0,62.0,492,58.0,62.0,0.1,64,86,8.18,612.696514,18.6,17.5,0.01,10.0,59.9
2,Afghanistan,2013,Developing,31731688.0,64.0,430,62.0,64.0,0.1,66,89,8.13,631.744976,18.1,17.7,0.01,9.9,59.9
3,Afghanistan,2012,Developing,3696958.0,67.0,2787,67.0,67.0,0.1,69,93,8.52,669.959000,17.6,17.9,0.01,9.8,59.5
4,Afghanistan,2011,Developing,2978599.0,68.0,3013,68.0,68.0,0.1,71,97,7.87,63.537231,17.2,18.2,0.01,9.5,59.2

In [17]:
print(f"Shape: {life_exp.shape}")

print(f"First Year: {min(life_exp.Year)}")
print(f"Last Year: {max(life_exp.Year)}")
print(f"Countries: {life_exp['Country'].unique()}")
print(f"Number of Countries: {len(life_exp['Country'].unique())}")
print(f"Distribution: {life_exp['Country'].value_counts()}") # full dataset!

Shape: (2848, 18)
First Year: 2000
Last Year: 2015
Countries: ['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bhutan' 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso'
 "Côte d'Ivoire" 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada'
 'Central African Republic' 'Chad' 'Chile' 'Colombia' 'Comoros' 'Congo'
 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Fiji' 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica'
 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Lebanon' 'Lesotho' 'Liberia' 'Libya'
 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives'
 'Mali' 'Malta' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Norway' 'Oman' 'Pakistan' 'Panama'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar'
 'Republic of Korea' 'Republic of Moldova' 'Romania' 'Russian Federation'
 'Rwanda' 'Saint Lucia' 'Saint Vincent and the Grenadines' 'Samoa'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syrian Arab Republic'
 'Tajikistan' 'Thailand' 'The former Yugoslav republic of Macedonia'
 'Timor-Leste' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turkmenistan' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Zambia' 'Zimbabwe']
Number of Countries: 178
Distribution: Country
Afghanistan              16
Sao Tome and Principe    16
Niger                    16
Nigeria                  16
Norway                   16
                         ..
Greece                   16
Grenada                  16
Guatemala                16
Guinea                   16
Zimbabwe                 16
Name: count, Length: 178, dtype: int64

In [18]:
fig = ply.scatter(data_frame= life_exp,
           x= "Year",
           y="LifeExpectancy",
           color="Country", 
           hover_name="Country",
           log_y=False)
plotly.offline.plot(fig, filename='life_exp_eda.html')

'life_exp_eda.html'

# Joining Datasets

In [21]:
# Check if the datasets have some columns we can join on
print(f"Columns in GDP: {gdp.columns}")
print(f"Columns in Life Expectancy: {life_exp.columns}")

Columns in GDP: Index(['Country', 'CountryCode', 'Year', 'GDP_USD'], dtype='object')
Columns in Life Expectancy: Index(['Country', 'Year', 'Status', 'Population', 'Hepatitis B', 'Measles',
       'Polio', 'Diphtheria', 'HIV/AIDS', 'infant deaths', 'under-five deaths',
       'Total expenditure', 'GDP', 'BMI', 'thinness  1-19 years', 'Alcohol',
       'Schooling', 'LifeExpectancy'],
      dtype='object')

In [23]:
# country and year are common. Do they have matching values?
# We already saw the overlapping Years -> life expectancy is a subset of gdp
# check countries
print(f"Number of countries in GDP: {len(gdp.Country.unique())}")
print(f"Number of countries in Life Expectancy: {len(life_exp.Country.unique())}")
print(f"Intersection of country values: {set(life_exp['Country']).intersection(gdp['Country'])}")

Number of countries in GDP: 256
Number of countries in Life Expectancy: 178
Intersection of country values: {'Malawi', 'Ghana', 'Malta', 'Botswana', 'Spain', 'Cyprus', 'Equatorial Guinea', 'Kenya', 'Liberia', 'Denmark', 'Panama', 'Argentina', 'Dominican Republic', 'Guatemala', 'Madagascar', 'Paraguay', 'Canada', 'South Sudan', 'Brazil', 'Iraq', 'Croatia', 'Samoa', 'Mongolia', 'Myanmar', 'Cabo Verde', 'Greece', 'Guinea', 'Senegal', 'Chad', 'Togo', 'Ukraine', 'Mozambique', 'Niger', 'Georgia', 'Lesotho', 'Montenegro', 'Kiribati', 'Barbados', 'South Africa', 'Jordan', 'Bhutan', 'Albania', 'Turkmenistan', 'Timor-Leste', 'Cameroon', 'Germany', 'Slovenia', 'Somalia', 'Nepal', 'Syrian Arab Republic', 'New Zealand', 'Mauritania', 'United Arab Emirates', 'Hungary', 'Costa Rica', 'Ecuador', 'Mauritius', 'Luxembourg', 'Nigeria', 'Uganda', 'Peru', 'Swaziland', 'Israel', 'Qatar', 'Bulgaria', 'Pakistan', 'Guinea-Bissau', 'Zimbabwe', 'Seychelles', 'Sudan', 'Sri Lanka', 'Trinidad and Tobago', 'Estonia', 'Suriname', 'Jamaica', 'Sao Tome and Principe', 'Uzbekistan', 'Belarus', 'Lebanon', 'Belgium', 'Angola', 'Austria', 'Vanuatu', 'Namibia', 'Armenia', 'Bosnia and Herzegovina', 'Mexico', 'Uruguay', 'Sierra Leone', 'Nicaragua', 'Ireland', 'Philippines', 'Italy', 'Japan', 'Switzerland', 'Azerbaijan', 'Tajikistan', 'Djibouti', 'Fiji', 'Thailand', 'Morocco', 'Tunisia', 'Bangladesh', 'Sweden', 'Kazakhstan', 'Honduras', 'Chile', 'Romania', 'Colombia', 'Burkina Faso', 'Afghanistan', 'Russian Federation', 'Cambodia', 'Cuba', 'Gabon', 'Singapore', 'India', 'Algeria', 'Tonga', 'Comoros', 'Grenada', 'Zambia', 'Libya', 'Netherlands', 'Mali', 'Iceland', 'Poland', 'Saudi Arabia', 'Lithuania', 'Guyana', 'Indonesia', 'Portugal', 'Maldives', 'Antigua and Barbuda', 'Solomon Islands', 'Rwanda', 'France', 'Benin', 'Norway', 'Australia', 'Serbia', 'Eritrea', 'Belize', 'Oman', 'Turkey', 'Haiti', 'Brunei Darussalam', 'Malaysia', 'Kuwait', 'Finland', 'Bahrain', 'El Salvador', 'Central African Republic'}

In [25]:
print(f"Countries in Life Expectancy not in GDP:\n {set(life_exp['Country']).difference(gdp['Country'])}")

Countries in Life Expectancy not in GDP:
 {"Côte d'Ivoire", 'United States of America', 'Gambia', 'Czechia', 'Bahamas', 'Republic of Moldova', 'Saint Lucia', "Lao People's Democratic Republic", 'Iran (Islamic Republic of)', 'United Kingdom of Great Britain and Northern Ireland', 'Bolivia (Plurinational State of)', 'The former Yugoslav republic of Macedonia', 'United Republic of Tanzania', 'Venezuela (Bolivarian Republic of)', 'Slovakia', 'Saint Vincent and the Grenadines', 'Congo', 'Democratic Republic of the Congo', 'Viet Nam', 'Kyrgyzstan', "Democratic People's Republic of Korea", 'Republic of Korea', 'Egypt', 'Yemen', 'Micronesia (Federated States of)'}

In [26]:
print(f"Countries in GDP not in Life Expectancy:\n {set(gdp['Country']).difference(life_exp['Country'])}")

Countries in GDP not in Life Expectancy:
 {'Vietnam', 'New Caledonia', 'Europe & Central Asia (excluding high income)', 'Northern Mariana Islands', 'Middle East & North Africa (excluding high income)', 'Hong Kong SAR, China', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Isle of Man', 'Macedonia, FYR', 'French Polynesia', 'St. Vincent and the Grenadines', 'Macao SAR, China', 'China', 'IBRD only', 'World', 'Korea, Rep.', 'Channel Islands', 'Other small states', 'IDA only', 'East Asia & Pacific', 'Upper middle income', 'Latin America & Caribbean (excluding high income)', 'Middle East & North Africa (IDA & IBRD countries)', 'Pacific island small states', 'Andorra', 'Venezuela, RB', 'East Asia & Pacific (excluding high income)', 'Kosovo', 'Middle income', 'Burundi', 'Latin America & Caribbean', 'Post-demographic dividend', 'Monaco', 'Slovak Republic', 'Bermuda', 'American Samoa', 'Low income', 'IDA total', 'Early-demographic dividend', 'Marshall Islands', 'Egypt, Arab Rep.', 'Sub-Saharan Africa (excluding high income)', 'Virgin Islands (U.S.)', 'Puerto Rico', 'Yemen, Rep.', 'Greenland', 'IDA blend', 'Micronesia, Fed. Sts.', 'East Asia & Pacific (IDA & IBRD countries)', 'Latvia', 'Gambia, The', 'United Kingdom', 'European Union', 'Lao PDR', 'Europe & Central Asia (IDA & IBRD countries)', 'North America', 'United States', 'Latin America & the Caribbean (IDA & IBRD countries)', 'Late-demographic dividend', 'Euro area', 'Low & middle income', 'Congo, Rep.', 'Bahamas, The', 'South Asia (IDA & IBRD)', 'St. Kitts and Nevis', 'Least developed countries: UN classification', 'Liechtenstein', 'Lower middle income', 'West Bank and Gaza', 'Sub-Saharan Africa', 'Caribbean small states', 'Tanzania', 'Congo, Dem. Rep.', 'Bolivia', 'Aruba', 'Dominica', 'Heavily indebted poor countries (HIPC)', "Cote d'Ivoire", 'Fragile and conflict affected situations', 'Palau', 'Arab World', 'Europe & Central Asia', 'Kyrgyz Republic', 'Ethiopia', 'Small states', 'South Asia', 'Czech Republic', 'Faroe Islands', 'Nauru', 'St. Lucia', 'San Marino', 'OECD members', 'Papua New Guinea', 'IDA & IBRD total', 'Central Europe and the Baltics', 'Cayman Islands', 'Pre-demographic dividend', 'Iran, Islamic Rep.', 'Tuvalu', 'Moldova', 'Guam', 'Middle East & North Africa', 'High income'}

In [ ]:
# We can see some of these match, but are spelled / formatted differently - we can create a map between them to fix this
# (optional exercise)

In [28]:
# Merge on country - left (discuss why)
merged = pd.merge(life_exp, gdp, how='left',on=['Country'], suffixes=['_le','_gdp'])

# let's check the shape of the merged dataset to see if it worked as expected
print(f"Shape of left dataset: {life_exp.shape}")
print(f"Shape of merged dataset: {merged.shape}")

Shape of left dataset: (2848, 18)
Shape of merged dataset: (113264, 21)

In [29]:
merged = pd.merge(life_exp, gdp, how='left',on=['Country','Year'], suffixes=['_le','_gdp'])

print(f"Shape of left dataset: {life_exp.shape}")
print(f"Shape of merged dataset: {merged.shape}")

Shape of left dataset: (2848, 18)
Shape of merged dataset: (2848, 20)

# Data Quality

In [31]:
# check data quality of GDP values

merged['gdp_diff'] = abs(merged['GDP']-merged['GDP_USD'])
merged['gdp_diff'].describe()

merged[['Country','GDP','GDP_USD','Year','gdp_diff']].head(20)

# let's check the internet for the GDP of a couple of countries to see if we can determine whihc is more accurate

        Country          GDP       GDP_USD  Year      gdp_diff
0   Afghanistan   584.259210  1.921556e+10  2015  1.921556e+10
1   Afghanistan   612.696514  2.005019e+10  2014  2.005019e+10
2   Afghanistan   631.744976  2.004633e+10  2013  2.004633e+10
3   Afghanistan   669.959000  2.053654e+10  2012  2.053654e+10
4   Afghanistan    63.537231  1.793024e+10  2011  1.793024e+10
5   Afghanistan   553.328940  1.593680e+10  2010  1.593680e+10
6   Afghanistan   445.893298  1.248694e+10  2009  1.248694e+10
7   Afghanistan   373.361116  1.019053e+10  2008  1.019053e+10
8   Afghanistan   369.835796  9.843842e+09  2007  9.843842e+09
9   Afghanistan   272.563770  7.057598e+09  2006  7.057598e+09
10  Afghanistan    25.294130  6.275074e+09  2005  6.275074e+09
11  Afghanistan   219.141353  5.285466e+09  2004  5.285465e+09
12  Afghanistan   198.728544  4.583644e+09  2003  4.583644e+09
13  Afghanistan   187.845950  4.128821e+09  2002  4.128821e+09
14  Afghanistan   117.496980  2.461666e+09  2001  2.461666e+09
15  Afghanistan   114.560000           NaN  2000           NaN
16      Albania  3954.227830  1.133526e+10  2015  1.133526e+10
17      Albania  4575.763787  1.322824e+10  2014  1.322824e+10
18      Albania  4414.723140  1.277628e+10  2013  1.277627e+10
19      Albania  4247.614380  1.231978e+10  2012  1.231978e+10

# Visualisation and Insights

In [34]:
fig = ply.scatter(
    data_frame=merged, 
    x="GDP_USD",
    y="LifeExpectancy",
    hover_name="Year",
    color="Country",
    log_x=False) 
plotly.offline.plot(fig, filename='gdp_vs_life_exp.html')

'gdp_vs_life_exp.html'

In [35]:
# with log scale
fig = ply.scatter(
    data_frame=merged, 
    x="GDP_USD",
    y="LifeExpectancy",
    hover_name="Year",
    color="Country",
    log_x=True) 
plotly.offline.plot(fig, filename='gdp_vs_life_exp_log_scale.html')

'gdp_vs_life_exp_log_scale.html'